#body {
    background-color: black;
    position: absolute;
    min-height: 100vh;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    color:white;
    background-color: white;   
    width:1100px;
    height: 99%;
    display: flex;
}

.word {
    color: white;
   
    position: relative;
    top: -200px;
    right: -50px;
    width: 360px;
    font-weight: 800;
}

.banner {
    background-image: url("../images/background.png");
    background-position: center;
    height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.walt { 
    background-color: grey;
    width: 400px;
    height: 150px;
    background: rgba(52, 54, 52, 0.7);
    position: relative;
    top: -140px;
}

.WALT {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -40px;
    font-size: 50px;
    font-weight: 800;
}

.img {
    height: 140px;
     position: relative;
    bottom: 35px;
    left: -20px;
}

.desc {
    background-image: linear-gradient(to right, #093009, #0D3E10, #1F6032); /*add opposite gradient to the form?*/
    height: 100%;
    width: 700px;
    display: flex;
    align-items: center;
}

.form {
    /*background-color: #1F6032;*/
    background-image: linear-gradient(to left, #093009, #0D3E10, #1F6032); /*could try to match the blue color so there is a little bit of a color scheme going on? Would then allow me to make the border color a type of green*/
    height: 200px;
    width: 700px;
    position: absolute;
    display: flex;
    box-shadow: white;
    justify-content: center;
    align-items: center;
    
    
}

#field {
    color: white;
    font-size: 10px;
    height: 100px;
    width: 600px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    border: none;
    position: relative;
    top: -35px;
    right: 70px;
    
}

input[type="text"] {
    appearance: none;
    border-color: yellow;
    border-radius: 5px;
  }

.input {
display: flex;
position: relative;
flex-direction: column;
color: white;
width: 200px;
}

.input[type="text"]{
    position: inherit;
    border: 2px solid gray;
    border-radius: 5px;
  }

  input[type="text"]:focus {
    position: inherit;
    border: 2px solid green;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 1px blue;
  }





.btn {
    position: relative;
    bottom: -150px;
    background-color: #032202;
    color: white;
    border-radius: 20%;
    height: 50px;
    right: 300px;
}

.btn:hover{
    background-color: var(--color);
    color: black;
    
}