@font-face {
    font-family: "Nautical";
    src: url("../fonts/viking/Viking.ttf") format("ttf"), url("../fonts/viking/transfonter.org-20221207-121824/Viking-Medium.woff")
        format("woff"), url("../fonts/viking/transfonter.org-20221207-121824/Viking-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

#body {
    background-color: black;
    position: absolute;
    min-height: 100vh;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    color:white;
    background-color: white;   
    width:1100px;
    height: 99%;
    display: flex;
}

.word {
    color: white;
   font: .8em "Nautical", Arial;
    position: relative;
    top: -300px;
    right: -100px;
    width: 1800px;
    font-weight: 800;
}

/*
.words { 
    font: .9em "Nautical", Arial;
    color: white;
    position: relative;
    display: flex;
    top: -150px;
    right: 200px;
    height: 100px;
    width: 2800px;
    font-weight: 800;
    flex-wrap: wrap;
    border: solid white;
} */

.banner {
    background-image: url("../images/background.png");
    background-position: center;
    height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.walt { 
    background-color: grey;
    width: 400px;
    height: 150px;
    background: rgba(52, 54, 52, 0.7);
    position: relative;
    top: -140px;
}

/* To do: Page needs to resize properly, data needs to be connected and have "required" values, */

.WALT {
    font: 2em "Nautical", Arial;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -40px;
}

.img {
    height: 140px;
     position: relative;
    bottom: 35px;
    left: -5px;
}
/*
$maya-blue: #5EBAF7ff;
$oxford-blue: #020A30ff;
$midnight-blue: #001261ff;
$azure: #0378EFff;
$midnight-blue-2: #001057ff;*/

.desc {
    background-image: linear-gradient(to left, #5EBAF7ff, #0378EFff, #001261ff); 
    height: 100%;
    width: 700px;
    display: flex;
    align-items: center;
}

.form {
    background-color: #001261ff;
    height: 200px;
    width: 700px;
    position: absolute;
    display: flex;
    box-shadow: white;
    justify-content: center;
    align-items: center;
    
    
}

#field {
    color: white;
    font-size: 10px;
    height: 100px;
    width: 600px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    border: none;
    position: relative;
    top: -35px;
    right: 70px;
    
}

legend {
    position: relative;
    bottom: -15px;
    right: -30px;
    font-weight: 800;
}

input[type="text"] {
    appearance: none;
    border-color: #0378EFff;
    border-radius: 5px;
  }

  input[type="password"] {
    appearance: none;
    border-color: #0378EFff;
    border-radius: 5px;
  }

  input[type="email"] {
    appearance: none;
    border-color: #0378EFff;
    border-radius: 5px;
  }

  input[type="number"] {
    appearance: none;
    border-color: #0378EFff;
    border-radius: 5px;
  }

.input {
display: flex;
position: relative;
flex-direction: column;
color: white;
width: 200px;
}

.input[type="text"]{
    position: inherit;
    border: 2px solid gray;
    border-radius: 5px;
  }

  input[type="text"]:focus {
    position: inherit;
    border: 2px solid #5EBAF7ff;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 1px blue;
  }

  input[type="password"]:focus {
    position: inherit;
    border: 2px solid #5EBAF7ff;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 1px blue;
  }

  input[type="number"]:focus {
    position: inherit;
    border: 2px solid #5EBAF7ff;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 1px blue;
  }

  input[type="email"]:focus {
    position: inherit;
    border: 2px solid #5EBAF7ff;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 1px blue;
  }



.btn {
    position: relative;
    bottom: -150px;
    background-color: #001057ff;
    color: white;
    height: 50px;
    right: 365px;
    font-weight: 700;
    font-size: 1em;
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
    border: solid;
    border-color: white;
    display: flex;
    align-items: center;
}

.btn:hover{
    background-color: #5EBAF7ff;
    color: black;
    border-color: black;
}

.login {
    position: relative;
    bottom: -230px;
    color: white;
    width: 1000px;
    height: auto;
    right: 510px;
}